name: TEST
run-name: PR opened by ${{ github.actor }}
on:
  workflow_dispatch:


permissions:
  contents: read
  id-token: write

jobs:
  run-snowflake-test-dbt-job:
    name: "Run on Incoming PR"
    runs-on: ubuntu-latest
    environment: prod
    env:
      SNOWFLAKE_CLI_FEATURES_ENABLE_DBT: true
      SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
      # SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PAT }} # Snowflake password is required if you aren't using OIDC
      SNOWFLAKE_DATABASE: new DBT_STORE_2
      SNOWFLAKE_SCHEMA: PUBLIC
      SNOWFLAKE_ROLE: PUBLIC

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Install Snowflake CLI
        uses: snowflakedb/snowflake-cli-action@v2.0
        with: # Ensures Snowflake CLI will search for OIDC users matching this subject
          use-oidc: true

      - name: Check Snowflake CLI Version
        run: snow --version

      - run: snow connection test -x

      
      - name: Debug Snowflake session
        run: |
          snow sql -x -q "select current_user() as user, current_role() as role;"
          snow sql -x -q "use database DBT_STORE;"
          snow sql -x -q "use schema DBT_STORE.PUBLIC;"


      # The --force setting creates the object or updates it if it already exists
      # You can remove the "-- source" flag if your dbt_project.yml is at root of your repo
      - name: Create a new tester dbt project object in ${{ vars.SNOWFLAKE_DATABASE }}.${{ vars.SNOWFLAKE_SCHEMA }}
        run: snow dbt deploy my_tester_dbt_project_object_gh_action --source ./tasty_bytes --force -x

      - name: List all of the snowflake dbt project objects in your account
        run: snow dbt list -x

      - name: Execute run on tester dbt project object in ${{ vars.SNOWFLAKE_DATABASE }}.${{ vars.SNOWFLAKE_SCHEMA }}
        run: snow dbt execute -x my_tester_dbt_project_object_gh_action run --target dev

      - name: Execute data quality test on tester dbt project object in ${{ vars.SNOWFLAKE_DATABASE }}.${{ vars.SNOWFLAKE_SCHEMA }}
        run: snow dbt execute -x my_tester_dbt_project_object_gh_action test --target dev
