name: Snowflake OIDC
on: workflow_dispatch

permissions:
 id-token: write
 contents: read

jobs:
 oidc-job:
   runs-on: ubuntu-latest
   environment: test
   steps:
     - name: Set up Snowflake CLI
       uses: snowflakedb/snowflake-cli-action@v2.0
       with:
         use-oidc: true
         cli-version: "3.14.0"
     - name: test connection
       env:
         SNOWFLAKE_ACCOUNT: SCC50282
       run: snow connection test -x
